<!--
  Generated template for the TodoListsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>


  <ion-navbar no-border-bottom>
    <ion-title>Mes listes</ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="listChoice">
      <ion-segment-button value="personal">
        Personels
      </ion-segment-button>
      <ion-segment-button value="shared">
        Partagées
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

  <ion-content  class="login-background" >
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    <div [ngSwitch]="listChoice">
      <ion-list *ngSwitchCase="'personal'" >

        <ion-item-sliding *ngFor="let todoList of personalTodoLists" #item>

          <ion-item (click)="itemSelected(todoList)" >

            <ion-icon name="list" item-start></ion-icon>
            {{ todoList.name }} <ion-badge item-end>{{ numberOfUncompletedTodos(todoList)}}</ion-badge> <ion-badge item-end>{{ numberOfUncompletedTodos(todoList)}}</ion-badge>
            <button ion-button outline item-end (click)="todoListActions(todoList);$event.stopPropagation()" style="width: 15%">
              <ion-icon name="ios-construct"></ion-icon></button>

          </ion-item>

          <ion-item-options side="right">

            <button ion-button color="danger" (click)="deleteList(todoList)">
              <ion-icon name="trash"></ion-icon>
              Supprimer
            </button>

            <button ion-button (click)="addOrEditTodoList(todoList , item)">
              <ion-icon name="create"></ion-icon>
              Modifier
            </button>

          </ion-item-options>

          <ion-item-options side="left">

            <button ion-button color="secondary" (click)="shareTodoList(todoList)">
              <ion-icon name="ios-share"></ion-icon>
              Partager
            </button>

          </ion-item-options>

        </ion-item-sliding>

      </ion-list>

      <ion-list  *ngSwitchCase="'shared'">

        <ion-item-sliding *ngFor="let todoList of sharedTodoLists" #item>

          <ion-item (click)="itemSelectedSharedList(todoList)">
            <ion-icon name="list" item-start></ion-icon>
            {{ todoList.list.name}} <ion-badge item-end>{{ numberOfUncompletedTodos(todoList.list)}}</ion-badge>
          </ion-item>

          <ion-item-options side="right">

          </ion-item-options>

        </ion-item-sliding>

      </ion-list>

    </div>

    <ion-fab right bottom style="padding-right: 2%;" >
      <button ion-fab  color="primary" (click)="addOrEditTodoList()" ><ion-icon name="md-add"></ion-icon></button>
    </ion-fab>

    <ion-fab left bottom style="padding-right: 2%;" >
      <button ion-fab  color="secondary" (click)="showQRCodeScanner()" ><ion-icon name="md-qr-scanner"></ion-icon></button>
    </ion-fab>



</ion-content>
