page-item-editor {

}

.label-file {
  cursor: pointer;
  font-weight: bold;
}

.input-file {
  display: none;
}

#item-image {
  max-height: 80%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
