<!--
  Generated template for the ItemEditorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Item-Editor</ion-title>

    <ion-buttons end>
      <button ion-button (click)="saveItem()">
        Enregistrer
      </button>

    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content padding  class="login-background">


  <ion-grid class="itemEditorForm">
    <ion-row>
      <ion-col>
        <ion-label stacked>Nom de l'item :</ion-label>
        <ion-input type="text" [(ngModel)]='todoItem.name' class="item-name"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label stacked>Description *Markdown</ion-label>
        <ion-textarea [(ngModel)]='todoItem.desc' class="item-desc"></ion-textarea>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

        <!--upload image button -->

        <ng-template [ngIf]="!appIsRunningOnWebBrowser" [ngIfElse]="webBrowserButton">

          <button small ion-button icon-start color="secondary" (click)="selectImage()" class="util-button">
            <ion-icon name="ios-image"></ion-icon>
            Image
          </button>

        </ng-template>

        <ng-template #webBrowserButton>

          <label small ion-button icon-start color="secondary" for="file" *ngIf="appIsRunningOnWebBrowser" class="label-file">
            <ion-icon name="ios-image"></ion-icon>
            Image
          </label>

          <input id="file" *ngIf="appIsRunningOnWebBrowser" type="file" (change)="selectImage($event)"
                 class="input-file">

        </ng-template>
        <!--upload image button -->

      </ion-col>

      <ion-col>
        <button ion-button small icon-start (click)="showCheckbox()" class="util-button">
          <ion-icon name="ios-locate-outline"></ion-icon>
          Mon adresse
        </button>
      </ion-col>


    </ion-row>
  </ion-grid>

  <img id="item-image" *ngIf="null !== selectedImageSafeURLPreview" [src]="selectedImageSafeURLPreview" />


</ion-content>
